/* Reset default styles */
body, h1, p {
    margin: 0;
    padding: 0;
}

/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    color: #333;
    min-height: 100vh;
}

/* Ensure full-page background */
html, body {
    height: 100%;
    width: 100%;
    background-color: #f5eade; /* Light beige background */
}

/* Centering container */
.container {
    width: 80%;
    max-width: 900px;
    margin: 0 auto;
    text-align: center;
    background-color: rgba(255,232,214,0.5);
    padding: 20px;
    border-radius: 8px;
}

/* Title styling */
.surveyTitle {
    font-size: 54px;
    font-weight: bold;
    color: #333;
    margin-bottom: 20px;
}

/* Paragraph styling */
p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

/* Button styling */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

.calendarTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 5%;
}

.calendarSubtitle {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.budgetTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 5%;
}

.budgetSubtitle {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}
