.profile-pic {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 3px solid #fff;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    object-fit: cover;
    transform: translateX(-50%);
    z-index: 1;
}

.profile-bg {
    width: 250px;
    height: 250px;
    border-radius: 50%;
    background-size: cover;       /* Ensures image fills container without distortion */
    background-position: center;  /* Center the image */
    background-repeat: no-repeat;
    position: relative;           /* Needed for absolute positioning of PFP */
    overflow: hidden;             /* Clips anything that overflows */
    transform: translateX(50%);
    z-index: 0;
}

.profile-container {
    display: flex;
    padding-top: 40px;
    flex-direction: column;
    align-items: center;
    margin: auto; /* Add top space to account for the overhanging profile pic */
}

.profile-info {
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.map {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 50px;
}

.leaflet-popup-content{
    margin: 13px 24px 13px 20px;
    line-height: 1.3;
    font-size: 13px;
    font-size: 1.08333em;
    min-height: 1px;

    display: flex;
    flex-direction: column;
}