/* Search Box Container */
.specific-places {
    width: 90%;
    max-width: 800px;
    margin: 20px auto;
    text-align: center;
    color: #333;
}

/* Title */
.specific-places__title {
    font-size: 32px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    padding-top: 20px;
}


/* Input */
.specific-places__input {
    width: 100%;
    padding: 12px;
    font-size: 16px;
    background: #fff7f7;
    border: none;
    border-radius: 8px;
    color: black;
    text-align: left;
}

/* Selected Tags */
.specific-places__tags {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 15px;
}

.specific-places__tag {
    background: #fff8f8;
    padding: 8px 15px;
    border-radius: 12px;
    font-size: 14px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.specific-places__tag span {
    cursor: pointer;
    font-weight: bold;
    color: black;
}

/* Back Button */
.specific-places__back-button {
    margin-top: 15px;
    padding: 10px 16px;
    font-size: 14px;
    background: #e0e0e0;
    border: none;
    margin-bottom: 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
}

.specific-places__back-button:hover {
    background: rgb(249, 232, 220);
}
