/* Global styles */
body {
    color: white;
    min-height: 100vh;
}

/* Ensure full-page background */
html, body {
    height: 100%;
    width: 100%;
}

.trip-planning {
    /* background-color: rgba(255, 232, 214, 1.0); Light beige background */
    background-color: rgb(255, 243, 230);
}

/* Centering container */
.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

/* Title styling */
.surveyTitle {
    font-size: 54px;
    font-weight: bold;
    color: #333;
    margin-top: 40px;
}

/* Paragraph styling */
p {
    font-size: 16px;
    line-height: 1.5;
    color: #666;
}

/* Button styling */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

.calendar {
    background-color: #5b8e89;
    margin: 80px 200px;
    border-radius: 30px;
}

.calendarTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    padding-top: 40px;
    text-align: center;
}

.calendarSubtitle {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.budget {
    background-color: #5b8e89;;
    margin: 50px 200px;
    border-radius: 30px;
}

.budgetTitle {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 40px;
}

.budgetSubtitle {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    text-align: center;
}

.transportation {
    background-color: #5b8e89;;
    margin: 50px 200px;
    border-radius: 30px;
}

.destinations {
    background-color: #5b8e89;;
    margin: 50px 200px;
    border-radius: 30px;
}

.accomodations {
    background-color: #5b8e89;;
    margin: 50px 200px;
    border-radius: 30px;
}