/* Global styles */
body {
    color: rgb(0, 0, 0);
    min-height: 100vh;
}

/* Ensure full-page background */
html, body {
    height: 100%;
    width: 100%;
}

.trip-planning {
    background-color: rgb(255, 243, 230);
}

/* Centering container */
.container {
    text-align: center;
    padding: 20px;
    border-radius: 8px;
}

/* Title styling */
.surveyTitle {
    font-size: 54px;
    font-weight: bold;
    color: #333;
    padding-top: 40px;
    margin: auto;
    width: 50%;
}

/* Paragraph styling */
p {
    font-size: 16px;
    line-height: 1.5;
    color: #000000;
}

/* Button styling */
.button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    margin-top: 20px;
    text-align: center;
}

.button:hover {
    background-color: #0056b3;
}

.calendar {
    background-color: #7ab3ad;
    margin: 80px 200px;
    border-radius: 30px;
}

.calendarTitle {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    padding-top: 20px;
    text-align: center;
}

.calendarSubtitle {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 20px;
    text-align: center;
}

.budget {
    background-color: #7ab3ad !important;
    margin: 50px 200px;
    border-radius: 30px;
}

.budgetTitle {
    font-size: 32px;
    font-weight: bold;
    color: #ffffff;
    margin-bottom: 20px;
    padding-top: 20px;
    text-align: center;
}

.budgetSubtitle {
    font-size: 18px;
    color: #ffffff;
    margin-bottom: 10px;
    text-align: center;
}

.transportation {
    background-color: #7ab3ad;
    margin: 50px 200px;
    border-radius: 30px;
}

.destinations {
    background-color: #7ab3ad !important;
    margin: 50px 200px;
    border-radius: 30px;
}

.accomodations {
    background-color: #fafffe !important;
    margin: 50px 200px;
    border-radius: 30px;
}

.warning-text {
    color: #5e0000;
    font-size: 16px;
    font-weight: bold;
    margin-bottom: 10px;
}

.slider-values p{
    color: white;
}