@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Playfair Display', serif;
}

header {
  background-color: var(--primary-color);
}

button, .btn {
  background-color: var(--secondary-color);
  color: black;
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}
/* 
button:hover, .btn:hover {
  background-color: #caa891;
} */

 .slick-track { 
  overflow: visible; 
  margin-top: 30px;
  margin-bottom: 30px;
}

.slick-slide { 
  margin: 0px; 
}

/* .carousel-track {
  margin-left: 20px;
  margin-right: 20px;
}  */