@tailwind base;
@tailwind components;
@tailwind utilities;

@layer theme {
  :root {
    --primary-color: #6B705C;
    --secondary-color: #DDBEA9;
    --background-color: #FFE8D6;
    --font-montserrat: "Montserrat", sans-serif;
    --font-montserrat-alternates: "Montserrat Alternates", sans-serif;
    --font-anek-gujarati: "Anek Gujarati", sans-serif;
  }
}

body {
  background-color: var(--background-color);
  font-family: var(--font-montserrat);
}

h1, h2, h3, h4, h5, h6 {
  font-family: var(--font-montserrat-alternates);
}

header {
  background-color: var(--primary-color);
}

button, .btn {
  background-color: var(--secondary-color);
  color: black;
  padding: 12px 24px;
  border-radius: 12px;
  font-weight: bold;
  transition: background-color 0.3s ease;
}

button:hover, .btn:hover {
  background-color: #caa891;
}

.slick-track { /*horizontal track where the slides are placed*/
  overflow: visible; /* Allow items to overflow and be visible */
  margin: 20px;
}

.slick-slide { /*individual slide*/
}

.carousel-track {
  margin-left: 20px;
  margin-right: 20px;
}